{% extends 'templates/base.twig' %}
{% block content %}

<div *ngFor="let post of data; let i = index;">

  <style>
    .promo--video {
      background-image: url( {{ function('wp_get_attachment_image_src', post.image, '1600')[0] }} );
    }
  </style>

  <a href="{{ post.src }}" target="_blank" class="promo--video">
    <div class="promo__content">
      <i href="#" class="icon play large">Play</i>
      <h3>{{ post.label }}</h3>
      <div class="promo__player">
        <div class="promo__player-container">
          <div class="promo__player-wrapper"><iframe src="{{ post.src }}"></iframe></div>
        </div>
      </div>
    </div>
  </a>

  <style>
    {% for tile in post.get_field('experience') %}
      {% if tile.image is not empty %}
      #tile-{{ loop.index }} {
        background-image: url( {{ tile.image.sizes.800 }} );
        background-color: transparent;
      }
      {% endif %}
    {% endfor %}
  </style>

  <section class="tiles">

    {% for tile in post.get_field('experience') %}

      {% if tile.button_label is defined and tile.title is empty %}
        {% set class = 'tile--button' %}
      {% elseif tile.width == 'two' %}
        {% set class = 'tile--med' %}
      {% else %}
        {% set class = 'tile--small' %}
      {% endif %}

    <div class="{{ class }}" id="tile-{{ loop.index }}">
      <div class="tile__content">
        {% if tile.title is defined and tile.image is empty %}
          <h3>{{ tile.title }}</h3>
        {% endif %}
        {% if tile.text is defined and  tile.image is empty %}
          {{ tile.text }}
        {% endif %}
        {% if tile.button_label %}
          {% if class == 'tile--med' %}
            {% set buttonClass = 'button--white' %}
          {% else %}
            {% set buttonClass = 'button' %}
          {% endif %}
          <a href="#" class="{{ buttonClass }}">{{ tile.button_label }}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

  </section>

  <!--<section class="promo--headline">
    <div class="promo__content">
      <h3>More to Come...</h3>
      <div class="button-container">
        <a href="{{ site.link }}/news" class="button">In Other News</a>
      </div>
    </div>
  </section>-->

</div>

{% endblock %}
