<!DOCTYPE html>
<html>
<head>
  <title>{% if post.title %} {{ post.title }} | {% endif %}{{ site.name }}</title>
  <link rel="stylesheet" type="text/css" href="{{ theme.link }}/css/dist/global.css" />
  <link rel="icon" type="image/x-icon" href="{{ theme.link }}/assets/icons/h-favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <a class="logo" href="{{ site.link }}"><i class="icon h">Hopscotch</i> <strong>Design</strong> Festival</a>
    <nav class="site-nav">
        <ul>
            <li><a href="{{ site.link }}/experience">Experience</a></li>
            <li><a href="{{ site.link }}/lineup">Lineup</a></li>
            <li><a href="{{ site.link }}/news">News</a></li>
            <li><a href="{{ site.link }}/contact">Contact</a></li>
            <li><a href="https://www.etix.com/ticket/p/3263928/hopscotch-design-festival-2017--raleigh-hopscotch-design-festival" target="_blank"><span>Buy Tickets</span></a></li>
        </ul>
    </nav>
    <span class="nav-toggle">
      <a href="#site-footer">Menu</a>
    </span>
</header>
